body {
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px 20px 80px;
}
.logo {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    align-items: center;
    color: black;
}
.logo span {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    justify-content: center;
    margin-right: 20px;
}
.media_items {
    display: flex;
    align-items: center;
}   
.media_items i {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    background-color: #F26464;
    color: white;
    border-radius: 100%;
}
.banner {
    display: flex;
    margin: auto;
    width: 100%;
}
.img {
    margin-left: 80px;
    width: 40%;
}
img {
    max-width: 100%;
    height: auto;
}
.introduction {
    margin-left: 80px;
    width: 60%;
}
.introduction h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 20px;
}
.introduction h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #000;
}
.list_number {
    display: flex;
    align-items: center;
}
.list_number li {
    margin-right: 45px;
    list-style: none;
}
.list_number li h1{
    display: block;
    color: #F26464;
    font-size: 50px;
    font-weight: 800;
}
.list_number li h2{
    font-size: 20px;
    letter-spacing: 1px;
}
.about {
    padding-top: 67px;
    padding-bottom: 120px;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
}
.about h3, .skill div h3 {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 3px solid #f26464;
    padding-bottom: 7px;
    margin-bottom: 20px;
}
.about p {
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 60px;
    margin-top: 0;
}
.about div {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.about div a, .detail {
    text-decoration: none;
    border: 2px solid #f26464;
    padding: 17px 30px;
    border-radius: 50px;
    color: #f26464;
    font-size: 1.4rem;
}
.about div a, .detail:hover {
    background-color: #f26464;
    color: #fff;
}
.skill {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}
.skill > div {
    width: 50%;
}
.skill__item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.skill__item li {
    list-style: none;
    font-size: 24px;
    border: 1px solid #d9d9d9;
    padding: 10px 20px;
    margin: 0 15px 15px 0;
    border-radius: 50px;
}
.container {
    margin: 0 80px;
}
.heading {
    display: inline-block;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
}
.experience-list {
    display: flex;
}
.experience-list > div {
    width: 50%;
    padding-right: 10px;
}
.year {
    color: #373737;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
}
.name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.job {
    color: #373737;
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.experience-list  p {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    box-sizing: border-box;
}
.experience-list ul li {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 28px;
    position: relative;
    margin-bottom: 20px;
}
.lastest-work {
    margin-top: 70px;
}
.lastest-work h3 {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 3px solid #f26464;
    padding-bottom: 7px;
    margin-bottom: 20px;
    margin-left: 80px;
}
.sub-lastest-work {
    display: flex;
    align-items: center;
    background-color: #F6F8FA;
    margin: 40px 80px;

}
.sub-lastest-work img{
    margin-right: 100px;    
    object-fit: contain;
    padding-top: 40px;  
    height: 100%;
}
.content-lastest-work {
    margin-left:  70px;
    margin-right: 100px;
}
.content-lastest-work p{
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
}

.footer {
    display: flex;
    margin-top: 100px;;
    width: 100%;
    height: 580px;
    background-color: black;    
    color: white;
    justify-content: center;
    align-items: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content h3 {
    font-size: 18px;
    margin-bottom: 30px;
}
h3.title {
    font-size: 16px;
    color: rgba(255,255,255,0.5);;

}
.footer-content h1{ 
    font-size: 48px;
    font-weight: 700;
}
.footer-content input {
    display: inline-block;
    width: 140px;
    height: 50px;
    border: 2px solid #F26464;
    background-color: black;
    color: #F26464;
    border-radius: 30px;
    margin-bottom: 80px;
}
.footer-content input:hover {
    background-color: #F26464;
    color: white;
    cursor: pointer;
}
.footer-content h1{
 margin-bottom: 10px;
}
.footer-content p {
    font-size: 16px;
    color: rgba(255,255,255,0.5);;
}